<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密钥生成</title>
    <style>
        input,select,option{
            font-size: 20px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">密钥生成</h1>
<form action="getKey">
    <p>
        <h2>选择软件类别:</h2>
        <select name="softwareType">
            <option value="software1" selected="selected">1号软件</option>
            <option value="software2">2号软件</option>
        </select>
    </p>
    <input type="button" value="确定">
</form>

</body>
</html>